
<div class="container mt-3" id="top-bar">
    <div class="row">
        <h3 class="text-center">Matches <span class="number">{{users.length}}</span> </h3>
        
        <!--Looping through the users array and displaying the results-->
        <div class="col-xl-1 col-xs-3 col-md-3 col-3" *ngFor="let user of users">
            <img src="{{user.image}}" alt="">
           <p class="name">{{user.name}}</p> 
       
    </div>
</div>
<!--This is the template for each user message and I can display the data of each of the users in the array -->


<div class="container mt-5" id="chats">
    <div class="row">
        <h3 class="text-center" style="color: #d2a94e;">Messages <span class="messagesNumber">1</span></h3>
<a routerLink="/chat">      
<div class="col-lg-12" id="convo">
<div class=" text-center float-start" > 
    <img src="assets/images/girl2.jpg" alt="">
</div>

<div id="info" class="mt-3"> 
    <h4 >Rasheed <span class="float-end time">20:20</span></h4>
    <p class="chat">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
</div>
</div>
 </a> 
</div>
</div>


